*{
    box-sizing: border-box;
    margin: 0;
 }

.container{
    height: 70vh;
    display: flex;
}

.header, .footer {
    content: "";
    height: 15vh;
    background-color: lightgreen;
}

.main_1 {
    width: 100%;
    display: flex;
    background-color: rgb(252, 79, 226);
}

.box_1 {
    width: 15%;
    background-color: rgb(0, 255, 234);
    border: 4px solid rgb(255, 255, 255);
    border-left: 0;
}

.box_2 {
    width: 85%;
    background-color: rgb(255, 136, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 4px solid rgb(255, 255, 255);
    border-right: 0; border-left: 0
}

.Item1 {
    height: 60%; 
    width: 100%;
    background-color: rgb(255, 136, 0);
 }

.Item2, .Item3, .Item4 {
    height: 38%; 
    width: 32%;
    background-color: rgb(229, 255, 0);
 }

 .box_1, .Item1, .Item2, .Item3, .Item4 {
  display: flex;
  align-items: center;
  justify-content: center;
 }

